

input {
    width: 200px;
}

#listOfCountries {
    width: 204px;
}
.border {
    border-left: 1px black solid;
    border-right:1px black solid;
    border-bottom:1px black solid;
}
#noResults {
    background-color: grey;
}
